body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.warpper {
    display: grid;
    position: fixed;
    width: 100%;
    height: 100vh;
    grid-template-columns: auto 0.2fr;
    grid-template-rows: 3.5rem auto;
    grid-template-areas: "header header" "flipbook footer";
}

.header {
    grid-area: header;
    width: 100%;
}

.flipbook {
    grid-area: flipbook;
}

.footer {
    grid-area: footer;
    width: 100%;
    height: auto;
    background-color: black;
    position: relative;
}

.college-logo {
    height: 80%;
    width: 12rem;
    position: relative;
    left: 1%;
    top: 50%;
    transform: translate(0%, -50%);
}

.nss-logo {
    float: right;
    height: 3em;
    width: 3em;
    position: relative;
    left: -1%;
    top: 50%;
    transform: translate(0%, -50%);
}

.footer-nss-logo {
    height: 3rem;
    width: 3rem;
    position: relative;
    left: 25%;
    top: -50%;
    transform: translate(-50%, -50%);
    color: black;
}

@media(max-width:950px) {
    .warpper {
        /* height: ; */
        height: 100vh;
        margin: 0;
        grid-gap: 0;
        grid-template-columns: auto;
        grid-template-rows: 7vh 75vh auto;
        grid-template-areas: "header" "flipbook" "footer";
    }
    .footer {
        background-color: black;
    }
}